<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Party Games.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A970EB281DB5980E006ACD86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A970EB421DB59810006ACD86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A970EB4D1DB59810006ACD86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
